<ion-header>
    <ion-navbar color="primary">
      <ion-toolbar>
          <ion-title>
          Produtos
        </ion-title>
      </ion-toolbar>
      <ion-toolbar>
            <ion-searchbar (ionInput)="getItems($event)">
              <button ng-if="search.length"
            class="input-button button button-icon ion-android-close"
            ng-click="clearSearch()"></button>
            </ion-searchbar>
            <ion-buttons class="botao_toolbar" end>
              <button ion-button icon-only (click)="inserir()">
                  <ion-icon name="add"></ion-icon>
              </button>
          </ion-buttons>
        </ion-toolbar>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
      <mat-accordion class="example-headers-align">
          <mat-expansion-panel *ngFor="let item of produtos | async">
            <mat-expansion-panel-header>
                <mat-panel-title>{{ item.nome }}</mat-panel-title>
                <mat-panel-description>{{ item.descricao }}</mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{ item.descricao }}</p>
            <mat-action-row>
                <button ion-button clear color="secondary" (click)="editarProduto(item)">
                    <ion-icon name="create"></ion-icon>
                    Editar
                  </button>
                  <button ion-button clear color="danger" (click)="removerProduto(item)">
                    <ion-icon name="trash"></ion-icon>
                    Remover
                  </button>
            </mat-action-row>
          </mat-expansion-panel>
          </mat-accordion>
  
          <ion-fab top right edge fixed>
            <ion-row>
              <ion-col>
                <button ion-fab (click)="createPdf()">
                  <ion-icon name="md-download"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-fab>

    <!-- <ion-fab top right edge>
      <button ion-fab color="light" (click)="inserir()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab> -->
  </ion-content>
  