<ion-header>
    <ion-toolbar>
        <ion-buttons right>
            <button ion-button icon-only (click)="fecharModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Preview - {{title}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <img [src]="preview" *ngIf="preview" />

    <pdf-viewer [src]="url" [original-size]="false" style="display: block;" *ngIf="url"></pdf-viewer>

</ion-content>