usi-anexo {

    width: 100%;
    display: block;

    // BOTÃO:

    .chooseFile {
        cursor: pointer;
        padding: 10px;
    }

    #fileInput{
        width: 0.1px;
	    height: 0.1px;
	    opacity: 0;
	    overflow: hidden;
	    position: absolute;
	    z-index: -1;
    } 

    span, label, ion-icon {
        display: inline-block;
        vertical-align: middle;
    }

    .click-icon {
        cursor: pointer;
    }


    // SLIDE:

    .img-wrap {
        position: relative;
    }

    .img-wrap img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .miniatura-img {
        max-width: 140px;
        max-height: 140px;
        position: relative;
    }

    // hover para exibir possibilidade de expansao
    .expandable:hover {
        cursor: pointer;
    }

    .expandable:hover img {
        opacity: .5;
    }

    .expandable:hover .centered {
       display: block;
       opacity: .7;
    }

    .container {
        position: relative;
        display: inline-block;
    }

    .centered { // icone centralizado
        display: none;
        position: absolute;
        font-size: 3em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    //

    .swiper-container.swiper-container-horizontal { // ajuste container
        padding: 40px 0px;
    }

    .disabled-arrow { // parecer desabilitado quando nao puder navegar
        opacity: .2;
        cursor: unset;
    }

    .hide { // esconder quando nao existem arquivos
        display: none;
    }

    ion-label {
        color: rgba(0,0,0,.87);
    }

}