<ion-row>

    <button ion-button icon-start outline class="botao-outline" *ngIf="camera && isMobile()" (click)="abrirCamera()" [disabled]="files.length == limite">
        <ion-icon name="camera"></ion-icon>Fotografar
    </button>

    <input type="file" (change)="changeListener($event)" id="fileInput" #fileInput multiple="multiple" [accept]="extensions">

    <button ion-button icon-start outline class="botao-outline" *ngIf="biblioteca" [disabled]="files.length == limite">
        <label for="fileInput" class="chooseFile">
            <ion-icon name="document"></ion-icon>Escolher Arquivo
        </label>
    </button>

</ion-row>

<ion-row>

    <ion-col col-2>
        <div *ngIf="files.length > 0" class="swiper-button-prev" (click)="prev(slideFiles)"></div>
    </ion-col>

    <ion-col col-8>

        <ion-slides class="slide-padding" #slideFiles initialSlide=0 [slidesPerView]="slidesPerView" speed=1000 [pager]="showPager" parallax="true"
            paginationType>
            <ion-slide *ngFor="let file of files; let i = index">
                <div class="img-wrap">
                    <ion-icon name="trash" class="check" (click)="remover(i)"></ion-icon>
                    <!-- <ion-checkbox class="check"></ion-checkbox> -->
                    <img [src]="file.preview" class="teste-img" positionV="top" arrow />
                    <ion-label>{{file.file.name}}</ion-label>
                </div>
            </ion-slide>
        </ion-slides>

    </ion-col>

    <ion-col col-2>
        <div *ngIf="files.length > 0" class="swiper-button-next" (click)="next(slideFiles)"></div>
    </ion-col>

</ion-row>
